<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   <link rel="stylesheet" href="public/css/app.bundle.css">
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <h1>AJAX CRUD using JSON with webpack + babel + sass</h1>
      <div class="col-6 justify-content-md-center">
        <input class="form-control form-text" type="text" placeholder="usersid"/>
        <input class="form-control form-text" type="text" placeholder="password"/>
        <input class="form-control form-text" type="text" placeholder="firstname"/>
        <input class="form-control form-text" type="text" placeholder="lastname"/>
       
        <button class="btn btn-primary" type="submit">GET</button>
        <button class="btn btn-primary" type="submit">POST</button>
        <button class="btn btn-primary" type="submit">PUT</button>
        <button class="btn btn-primary" type="submit">DELETE</button>
      </div>
      <div class="form-view">
        <pre id="viewer"></pre>
      </div>
    </div>
  </div>
</body>
</html>